
@{
    ViewBag.Title = "TaskCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .message {
        margin-top: 10px;
        text-align: center;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<script>
    setTimeout(window.close, 5000)
</script>

<div class="message">

    <img src="~/Content/Images/thumbsup.png" />
    <h2>Task Completed Successfully</h2>

</div>


